	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">MiTurno</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item cta"><a href="/login/logout" class="nav-link"><span>Cerrar Sesion</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

	
    <div class="hero-wrap js-fullheight img" style="background-image: url(/images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container-fluid px-0">
      	<div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-center">
	        <div class="col-md-8 text-center d-flex align-items-center ftco-animate js-fullheight">
	        	<div class="text mt-5">

					<div class="row block-9 justify-content-center mb-5">
						<div class="col-md-6 mb-md-5 mt-4 ">
							<h2 class="text-center">{{bienvenida}}</h2>
							<a href="/admin/cateespacio"><button type="button"  class="btn btn-secondary btn-block py-3 px-5 mb-2">Categorias de los Espacios ABM</button></a>
							<a href="/admin/cateProfes"><button type="button"  class="btn btn-secondary btn-block py-3 px-5 mt-2">Categorias de los Profesionales ABM</button></a>
							<a href="/admin/espacio"><button type="button"  class="btn btn-secondary btn-block py-3 px-5 mt-2">Espacios ABM</button></a>
							<a href="/admin/profesional"><button type="button"  class="btn btn-secondary btn-block py-3 px-5 mt-2">Profesionales ABM</button></a>
							<a href="/admin/asignacion"><button type="button"  class="btn btn-secondary btn-block py-3 px-5 mt-2">Asignacion de Profes/Espacios y Dias/Horas</button></a>							
							<a href="#"><button type="button"  class="btn btn-secondary btn-block py-3 px-5 mt-2">Generar Turnos en Blanco</button></a>
							<a href="/admin/usuarios"><button type="button"  class="btn btn-secondary btn-block py-3 px-5 mt-2">Usuarios ABM</button></a>
							
						</div>
					</div>
	    		</div>
      		</div>
    	</div>
	  </div>
	</div>