<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">
    
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">

    <link rel="stylesheet" href="/stylesheets/aos.css">

    <link rel="stylesheet" href="/stylesheets/ionicons.min.css">

    <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/stylesheets/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/icomoon.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    {{{body}}}
      <script src="/javascripts/jquery.min.js"></script>
      <script src="/javascripts/jquery-migrate-3.0.1.min.js"></script>
      
      
      <script src="/javascripts/jquery.easing.1.3.js"></script>
      <script src="/javascripts/jquery.waypoints.min.js"></script>
      <script src="/javascripts/jquery.stellar.min.js"></script>
      <script src="/javascripts/owl.carousel.min.js"></script>
      <script src="/javascripts/jquery.magnific-popup.min.js"></script>
      <script src="/javascripts/aos.js"></script>
      <script src="/javascripts/jquery.animateNumber.min.js"></script>
      <script src="/javascripts/scrollax.min.js"></script>
      
      
      <script src="/javascripts/main.js"></script>

      {{!-- kit fontawesome Vale --}}
      <script src="https://kit.fontawesome.com/a319acd3e0.js" crossorigin="anonymous"></script>


      <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">

           
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
             Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | MiTurno <i class="icon-heart" aria-hidden="true"></i>  <a href="#" target="_blank">About</a>
         <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
